* {
  box-sizing: border-box;
}

.topBar {
  min-width: 600px;
}
/* 탑바전체 배경 */
.topBarBackground {
  background: #ffffff;
}

/* 탑바 내용물 */
.content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 탑바 배경 */
.input-wrap {
  background: #ffffff;
}

.logo-wrap img {
  width: 40px;
  height: 40px;
}

/* 오른쪽아이콘모음 */
.icon-wrap,
.logo-wrap {
  width: 112px;
  display: flex;
  gap: 20px;
  margin: 10px;
  align-items: center;
  cursor: pointer;
}

.icon-wrap div img {
  width: 24px;
}

/* 구분선 */
.divide-line {
  width: 100%;
  height: 5px;
  background: #7e8ef1;
  border-radius: 5px;
}

.input-wrap {
  width: 600px;
  text-align: center;
}

.input-wrap div {
  display: flex;
  background: #eeeeee;
  height: 90%;
  border: none;
  border-radius: 20px;
}

.input-wrap input {
  background: none;
  border: none;
  outline: none;
  font-size: larger;
}

#inputLogo {
  margin: 0px 10px;
}
/* 알림 팝업 */
#filterPopUp {
  width: 40%;
  height: 300px;
  top: 138px;
  background: #ffffff;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 20px;
}
/* 숨김 */
.hidden {
  display: none;
}

.selected {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  width: 120px;
  height: 34px;
  min-width: 120px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.options {
  position: absolute;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 1;
  width: 120px;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f1f1f1;
}
#losting {
  position: absolute;
  left: 3.02%;
  right: 93.17%;
  top: 4.58%;
  bottom: 85.42%;
}
.pop {
  width: 24px;
  height: 24px;
}
.frame {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* 알림창 */
#alert {
  width: 20%;
  height: 300px;
  border: 1px solid gray;
  border-radius: 15px;
}
body {
  margin: 0;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  width: 600px;
}
.writing {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
@media (max-width: 600px) {
  .writing {
    right: 50%;
    transform: translateX(50%);
    bottom: 20px;
  }
}

#filterPopUp,
#alert {
  position: absolute;
  right: 160px;
  top: 70px;
}

.edit {
  width: 70px;
  height: 30px;
  background: #7e8ef1;
  border-radius: 40px;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 180px;
  left: 250px;
}

@media (max-width: 600px) {
  .edit {
    width: 60px;
    height: 25px;
    font-size: 16px;
    top: 180px;
    left: 100px;
  }
}
