body {
  margin: 0;
}
.topBar {
  min-width: 600px;
}
/* 탑바전체 배경 */
.topBarBackground {
  background: #ffffff;
}

/* 탑바 내용물 */
.content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 탑바 배경 */
.input-wrap {
  background: #ffffff;
}

.logo-wrap img {
  width: 40px;
  height: 40px;
}

/* 오른쪽아이콘모음 */
.icon-wrap,
.logo-wrap {
  cursor: pointer;
  width: 112px;
  display: flex;
  gap: 20px;
  margin: 10px;
  align-items: center;
}

.icon-wrap div img {
  width: 24px;
}

/* 구분선 */
.divide-line {
  width: 100%;
  height: 5px;
  background: #7e8ef1;
  border-radius: 5px;
}

.input-wrap {
  width: 600px;
  text-align: center;
}

.input-wrap div {
  display: flex;
  background: #eeeeee;
  height: 90%;
  border: none;
  border-radius: 20px;
}

.input-wrap input {
  background: none;
  border: none;
  outline: none;
  font-size: larger;
}

#inputLogo {
  margin: 0px 10px;
}

.hidden {
  display: none;
}
#alert {
  position: absolute;
  right: 160px;
  top: 70px;
  width: 200px;
  height: 300px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
}
.container {
  width: 600px;
  border: 2px solid #cbccce;
  height: 100vh;
  gap: 30px;
  position: relative;
}
.input {
  display: flex;
  background-color: #eaeaea;
  position: fixed;
  bottom: 0;
  width: 600px;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}
.message {
  padding: 12px 20px;
  width: 85%;
  height: 15px;
  background: white;
  border: 1px solid #cbccce;
  border-radius: 15px;
  font-size: large;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.send {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
input:focus {
  outline: none;
}
.profile {
  width: 24px;
  height: 24px;
  padding: 10px;
  padding-right: 0;
}
.chating-container {
  display: flex;
  align-items: start;
  justify-content: start;
}
#each {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 50px;
}
.each {
  list-style: none;
  border-radius: 16px;
  background-color: #7e8ef1;
  padding: 5px;
  color: white;
  margin: 10px;
  max-width: 50%;
}
#profileContainer {
  width: 600px;
  height: 110px;
  border-bottom: 2px solid #cbccce;
  display: flex;
  align-items: center;
}
#previous {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 10px;
  position: absolute;
  left: 10px;
}
#inform {
  justify-content: center;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #cbccce;
  display: flex;
  align-items: center;
}
#name {
  font-size: 20px;
  font-weight: bold;
}
#post {
  width: 72px;
  height: 72px;
  margin: 10px;
}
